.contact{
    @include reset-link;
    color: $dark-color;
    width: 196px;
    position: relative;
    padding-left: 36px;

    &::before{
        display: inline-block;
        width: 29px;
        height: 29px;
        content:"";
        background-image: url(../img/phone.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    &__text{
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
        margin-bottom: 3px;
    }
    &__num{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
    }
}