.header{
    position: relative;
    z-index: 2;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.header__bottom{
    background-color: $main-color;
    display: flex;
    align-items: center;
}
